@import 'reset';
@import 'header';
@import 'sideBar';
@import 'modal';

main {
    display: flex;
    max-height: calc(100vh - 50px);
    height: 100%;

    .background {
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .user__profile {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 30px;
        left: 17%;
        height: 300px;
        width: 700px;

        .user__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35%;
            height: 100%;
            background-color: #1F1F23;
            margin-right: 30px;
            padding: 5px 10px;

            .user__image {
                display: flex;
                width: 100%;
                height: 90%;
                margin-bottom: 5px;
            }
            p {
                height: 10%;
                font-size: 24px;
                font-weight: 700;
            }
        }

        .user__book {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 65%;
            height: 100%;
            background-color: #1F1F23;
            padding: 10px 10px;

            .best__book {
                height: fit-content;

                .book__image {
                    height: 245px;
                    width: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                    &:hover {
                        box-shadow: -1px 1px 1px 2px #5D5D5F;
                    }
                }

                .book__about {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    padding: 5px 2px;
                    height: fit-content;
                    color: #fff;
                    font-size: 24px;

                    .book__name,
                    .book__author {
                        overflow: hidden;
                        transition: color .2s ease;

                        &:hover {
                            color: #772CE8;
                        }
                    }

                    .book__name {
                        font-size: 20px;
                        color: #fff;
                        font-weight: 700;
                    }

                    .book__author {
                        font-size: 14px;
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
            }

            .book__description {
                width: 60%;
                height: 100%;

                .description {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .main__content {
        width: 100%;
        height: 100%;
        background-color: #0E0E10;
        overflow: auto;
        padding: 417px 60px 0 0;
        position: relative;

        &::-webkit-scrollbar {
            width: 4px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 50px;
            background-color: #5D5D5F;
        }

        .main__books {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            height: fit-content;
            min-height: 550px;
            max-height: 550px;
            width: 100%;
            z-index: 2;
            background-color: #0E0E10;
            padding: 5px;

            &::-webkit-scrollbar {
                width: 4px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 50px;
                background-color: #5D5D5F;
            }

            .main__book {
                display: flex;
                flex-direction: column;
                height: 320px;
                width: 225px;
                padding: 10px;

                .book__image {
                    height: 245px;
                    width: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        transition: transform .3s ease;

                        &:hover {
                            transform: translate(10px, -10px);
                            box-shadow: -10px 10px 0 #772CE8;
                        }
                    }
                }

                .book__about {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    overflow: hidden;
                    padding: 5px 2px;
                    height: 100%;
                    color: #fff;
                    font-size: 24px;

                    .book__name,
                    .book__author {
                        overflow: hidden;
                        transition: color .2s ease;

                        &:hover {
                            color: #772CE8;
                        }
                    }

                    .book__name {
                        font-size: 20px;
                        color: #fff;
                        font-weight: 700;
                    }

                    .book__author {
                        font-size: 14px;
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
            }
        }
    }
}